*{
    font-family: 'Poppins';
    font-size: 14px;
    padding: 6px;
    border-radius: 6.5px;
}
h1{
    font-size: 35px;
    text-align: center;
}
#emailid{
    width: 160px;
}
#country{
    width: 120px;
}
#submit-btn{
    width: 80px;
    height: 31px;
    background-color: azure;
}
#submit-btn:hover{
    background-color: #84ecd4;
}
#reason{
    width: 80vh;
}
#form-elements{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
    border: solid 2px;
    width: 41vh;
    line-height: 30px;
    margin: auto;
}
footer{
    text-align: center;
    height: 100px;
    padding-top: 60px;
    overflow: hidden;
}
 #fname, #lname, #emailid, #country{
    border: none;
    border-bottom: solid 1px;
 }